// постоянные цвета

$color-background-about: #fff0e5;
$color-background-skills: #10162f;
$color-background-education: #ffd300;
$color-background-portfolio: #5332d9;
$color-background-code: #10162f;

$color-text-nav: black;


$color-background: #f0f0f6;
$color-wrapper: white;
$color-main-page: #f5f8f9;
$color-text: #44566C;
$color-nav: #5F6F81;
$color-active-link: #304CFD;
$color-border: #f5f8f9;
$coor-years: #999999;